@import '../../_variables.css';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hero {
        height: calc(100vh - 128px);
        width: 100%;
        background: linear-gradient(rgba(255,255,255, 0.9), transparent), url('./background.jpeg') no-repeat center;
        background-size: cover;
        .content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title {
                font-size: 58px;
                color: $primary;
                font-family: 'Raleway', roboto, sans-serif;
                font-weight: 600;
                margin-bottom: 40px;
                text-shadow: 2px 4px 3px rgba(0,0,0,0.1);
            }
        }
    }

    section {
        padding-top: 40px;
    }
}

@media (max-width: 1300px) {
    .content {
        width: 80%;
        .title {
            text-align: center;
        }
    }
}

@media (max-width: 900px) {
    .home {
        .hero {
            .content {
                .title {
                    font-size: 42px;
                }
            }
        }
    }
}

@media (max-width: 645px) {
    .home {
        .hero {
            .content {
                .title {
                    font-size: 38px;
                }
            }
        }
    }
}

