@import '../../_variables.css';

.listing-card {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 32px;
    display: flex;
    .image-preview {
        height: 200px;
        width: 320px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        overflow: hidden;
        .all-photos {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            bottom: 0;
            right: 16px;
            background: rgba(0, 0, 0, 0.5);
            border: none;
            width: 54px;
            padding: 8px;
            padding-bottom: 12px;
            transform: translateY(4px);
            transition: all 0.2s;
            outline: none;
            &:hover {
                cursor: pointer;
                transform: translateY(0);
                background: rgba(0, 0, 0, 1);
            }
            svg {
                color: #fff;
            }
            .photo-amount {
                color: #fff;
                font-weight: 500;

            }
        }
    }
    .card-content {
        padding: 24px;
        width: calc(100% - 360px);
        position: relative;
        .listing-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 16px;
            h2 {
                font-size: 24px;
                color: $dark;
            }
            .listing-title {
                font-weight: 500;
            }
            .listing-price {
                text-align: right;
            }
        }
        .stats {
            display: flex;
            margin-bottom: 32px;
            .reference {
                margin-right: 16px;
            }
        }
        .features {
            .feature {
                position: relative;
                display: flex;
                align-items: center;
                &:before {
                    display: block;
                    position: relative;
                    margin-right: 8px;
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: $primary;
                }
                margin-top: 8px;
            }
        }
        .details-button {
            position: absolute;
            bottom: 24px;
            right: 24px;
            border: none;
            background: $primary;
            color: #fff;
            border-radius: 4px;
            padding: 16px 64px;
            box-sizing: border-box;
            text-transform: uppercase;
            font-weight: 700;
            outline: none;
            transition: all 0.2s;
            text-decoration: none;
            &:hover {
                cursor: pointer;
                background: color($primary shade(20%));
            }
        }
    }
}

@media (max-width: 1000px) {
    .listing-card {
        flex-direction: column;
        align-self: flex-start;
        width: calc(50% - 32px);
        margin: 0 16px 32px;
        .image-preview {
            width: 100%;
            height: 280px;
        }
        .card-content {
            width: 100%;
            box-sizing: border-box;
            justify-content: space-between;
            .stats {
                margin-bottom: 8px;
            }
            .features {
                margin-top: 16px;
            }
            .details-button {
                width: 100%;
                position: relative;
                bottom: 0;
                right: 0;
                margin-top: 16px;
            }
        }
    }
}

@media (max-width: 900px) {
    .listing-card {
        width: calc(100% - 32px);
        .image-preview {
            height: 380px;
        }
    }
}

@media (max-width: 540px) {
    .listing-card {
        width: calc(100% - 32px);
        .image-preview {
            height: 280px;
        }
    }
}


@media (max-width: 400px) {
    .listing-card {
        width: calc(100% - 32px);
        .image-preview {
            height: 180px;
        }
        .card-content {
            .details-button {
                font-size: 8px;
            }
        }
    }
}