.listing-card {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 32px;
    display: flex;
    border-radius: 8px !important;
    .image-preview {
        height: 200px;
        width: 320px;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        position: relative;
        overflow: hidden;
        .all-photos {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            bottom: 0;
            right: 16px;
            background: rgba(92, 159, 201, 0.8);
            border: none;
            width: 54px;
            padding: 8px;
            padding-bottom: 12px;
            transform: translateY(4px);
            transition: all 0.2s;
            outline: none;
            &:hover {
                cursor: pointer;
                transform: translateY(0);
                background: rgba(92, 159, 201, 1);
            }
            svg {
                color: #fff;
            }
            .photo-amount {
                color: #fff;
                font-weight: 500;

            }
        }
    }
    .card-content {
        padding: 24px;
        width: calc(100% - 360px);
        position: relative;
        .listing-header {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 16px;
            h2 {
                font-size: 24px;
            }
            .listing-title {
                font-weight: 500;
            }
            .listing-price {

            }
        }
        .stats {
            display: flex;
            margin-bottom: 32px;
            .reference {
                margin-right: 16px;
            }
        }
        .features {
            .feature {
                position: relative;
                display: flex;
                align-items: center;
                &:before {
                    display: block;
                    position: relative;
                    margin-right: 8px;
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: rgba(92, 159, 201, 1);
                }
                margin-top: 8px;
            }
        }
        .details-button {
            position: absolute;
            bottom: 24px;
            right: 24px;
        }
    }
}
