.create-listing-form {
    display: flex;
    flex-direction: column;
    padding: 64px;
    max-width: 800px;
    .row {
        display: flex;
        justify-content: space-between;
        .field, .FormControl {
            width: calc(50% - 16px);
        }
    }
    .field {
        margin-bottom: 24px;
    }
    .menu-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(50% - 16px);
        h4 {
            font-weight: 400;
        }
    }
}
